@layout('layouts/main')

@section('body')
<main class="flex-shrink-0">
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="login-form bg-light mt-4 p-4">
               
                <p><strong> Email:</strong>{{email}}</p>
                <p><strong> Name </strong>{{name}}</p>
                
            </div>
        </div>
    </div>
</div>
</main>
@end